
services:
  frontend:
    build: ./Frontend
    container_name: frontend-service
    ports:
      - "5000:80"
    restart: unless-stopped
    depends_on:
      - backend

  backend:
    build: ./Backend
    container_name: backend-service
    ports:
      - "3000:3000"
    env_file:
      - ./Backend/.env
    restart: unless-stopped
