:root {
  --base-color: #fffffe;
  --text-color: #2d334a;
  --text-color-second: #fffcf2;
  --text-notification: #fffffe;
  --item-card: #272343;
  --body-card: #fffffe;
  --button-color: #272343;
  --button-text: #272343;
  --accent-color: #eff0f3;
  --base-two-color: #fffffe;
  --input-color-food: #2d334a;
  --body-input-color: #fffcf2;
  --result-card-hr: #272343;
  --table-head: #272343;
  --table-body: #fffffe;
}

.darkmode {
  --base-color: #0f0e17;
  --text-color: #fffffe;
  --text-color-second: #fffcf2;
  --text-notification: #2d334a;
  --text-card: #0a090f;
  --item-card: #0f0e17;
  --body-card: #272343;
  --button-color: #272343;
  --button-text: #fffffe;
  --accent-color: #0a090f;
  --base-two-color: #0a090f;
  --input-color-food: #fffffe;
  --body-input-color: #0f0e17;
  --result-card-hr: #fffcf2;
  --table-head: #272343;
  --table-body: #eff0f3;
}

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--base-color);
  color: var(--text-color);
  min-height: 100vh;

}
.hrOne {
  height: 3px;
  background-color: var(--text-color);
  margin: 0 20px 0 20px;
  border: none;
}
.hrTwo {
  height: 5px;
  background-color: var(--result-card-hr);
  border: none;
  margin: 5px 0 5px 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px 25px 20px;
}
.headerIcon {
  display: flex;
  padding: auto;
  justify-content: space-between;
  gap: 10px;
}
.headerDesc {
  display: flex;
  color: var(--text-color-second);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
  gap: 20px;
  min-height: 50vh;
  background-image: url('../../public/indonesian-foods.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.containerBody {
  margin-top: 20px;
  margin-bottom: 50px;
}
.containerCards {
  margin: 50px 0 50px 0;
  padding: 20px 0 40px 0;
  background-color: var(--accent-color);
}
.itemCards {
  display: flex;
  flex-direction: row;
  margin: 50px;
  gap: 20px;
}
.contentCards {
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.containerTableInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px 50px 10px 50px;
  align-items: center;
  justify-content: center;
}
.contentTableInfo {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.containerStart {
  margin: 50px 0 50px 0;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.containerFooter {
  padding: 25px 20px 25px 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}



.containerNutrition {
  display: flex;
  margin: 20px;
}
.containerFood {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin: 20px;
  background-color: var(--base-two-color);
  border-radius: 3px;
  border: 1px solid var(--text-color);
  margin-left: 0 !important;
  margin-right: auto !important;
}
.itemFood {
  display: flex;
  flex-direction: column;
  background-color: var(--base-two-color);
  gap: 20px;
  border-radius: 3px;
  margin: 20px;
  padding: 20px 0 20px 0;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  width: 100%;
}
.itemButtonFood {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  padding: 20px;
}

.containerTutorial {
  display: flex;
  margin: 10px 0 10px 0;
  position: sticky;
  top: 10px;
  align-self: flex-start;
  z-index: 10;
}
.itemCardsTutorial {
  display: flex;
  flex-direction: column;
  margin: 30px;
  gap: 20px;
}
.contentCardsTutorial {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.containerResult {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0px 0 20px 0;
}
.itemResult {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 0;
  gap: 15px;
  min-width: 400px;
}
.itemButtonPrint {  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.itemTextResult {display: flex; flex-direction: column;}
.itemButtonResult {display: flex; justify-content: space-around;}
.descriptionResult { margin-top: 10px;}


.midElement {
  margin: 0px 16px 0 16px;
  padding:25px;
}
.containerPrint {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  position: absolute;
  left: -9999px;
  top: 0;
  /* border: 1px solid red; */
}

@media print {
.containerPrint {
  /* position: static !important; */
  left: 0 !important;
  margin: 0 !important;
}
}
.containerPrint .MuiTypography-subtitle1 {
  text-align: center;
}
.hrPrint {
  height: 1px;
  background-color: var(--text-color);
  width: 700px;
  max-width: 1000px;
  border: none;
}
.contentPrint {
  margin: 20px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  border: 1.5px solid var(--text-color);
  width: 700px;
  max-width: 1000px;
  margin: 20px 0px 20px 0px;
}
.contenTablePrint {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.containerTableResult {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nutritionContainer {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid var(--result-card-hr);
  color: var(--text-color);
}
.nutritionHeader {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.nutritionTable {
  min-width: 50%;
  border-collapse: collapse;
}
.nutritionTable td {
  border-color: var(--result-card-hr);
  padding: 5px 0 0 0;
}
.nutritionDivider td {
  border-top: 4px solid var(--result-card-hr);
  padding: 0;
}
.nutritionHeaderCell {
  text-align: left;
  padding-left: 0 !important;
  color: var(--text-color) !important;
}
.nutritionName {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.nutritionValueCell {
  text-align: right !important;
  padding-right: 0 !important;
  color: var(--text-color)  !important;
}


.containerAuth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  gap: 10px;
  min-width: 250px;
  min-height: max-content;
  border-radius: 3px;
  background-color: var(--accent-color);
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.titleAuth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.itemFormAuth {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.headerForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px
}
.contentForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 300px;
  width: 350px;
}