

:root {
  --base-color: #fffffe;
  --text-color: #2d334a;
  --text-color-second: #fffcf2;
  --item-card: #272343;
  --body-card: #fffffe;
  --button-color: #272343;
  --button-text: #272343;
  --accent-color: #eff0f3;
  --base-two-color: #fffffe;
  --input-color-food: #2d334a;
  --body-input-color: #fffcf2;
  --result-card-hr: #272343;
  --button-delete-border: #ef233c;
}

.darkmode {
  --base-color: #0f0e17;
  --text-color: #fffffe;
  --text-color-second: #fffcf2;
  --text-card: #0a090f;
  --item-card: #0f0e17;
  --body-card: #272343;
  --button-color: #272343;
  --button-text: #fffffe;
  --accent-color: #0a090f;
  --base-two-color: #0a090f;
  --input-color-food: #fffffe;
  --body-input-color: #0f0e17;
  --result-card-hr: #fffcf2;
  --button-delete-border: #fffffe;
}

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--base-color);
  color: var(--text-color);
  min-height: 100vh;

}
.hrOne {
  height: 3px;
  background-color: var(--text-color);
  margin: 0 20px 0 20px;
  border: none;
}
.hrTwo {
  height: 5px;
  background-color: var(--result-card-hr);
  border: none;
  margin: 5px 0 5px 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px 25px 20px;
}
.headerIcon {
  display: flex;
  padding: auto;
  justify-content: space-between;
  gap: 10px;
}
.headerDesc {
  display: flex;
  color: var(--text-color-second);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
  gap: 20px;
  min-height: 50vh;
  background-image: url('../../public/indonesian-foods.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.containerBody {
  margin-top: 20px;
  margin-bottom: 50px;
}
.containerCards {
  margin: 50px 0 50px 0;
  padding: 20px 0 40px 0;
  background-color: var(--accent-color);
}
.itemCards {
  display: flex;
  flex-direction: row;
  margin: 50px;
  gap: 20px;
}
.contentCards {
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.containerStart {
  margin: 50px 0 50px 0;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.containerFooter {
  /* border: 1px solid red; */
  padding: 25px 20px 25px 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}


.containerNutrition {
  display: flex;
  margin: 20px;
}
.containerFood {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin: 20px;
  background-color: var(--base-two-color);
  /* box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em; */
  border-radius: 3px;
  border: 1px solid var(--text-color);
  margin-left: 0 !important;
  margin-right: auto !important;
}
.itemFood {
  display: flex;
  flex-direction: column;
  background-color: var(--base-two-color);
  gap: 20px;
  border-radius: 3px;
  margin: 20px;
  padding: 20px 0 20px 0;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  width: 100%; 
}
.itemButtonFood {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  padding: 20px;
  /* width: 100%;  */
  /* margin: 0 auto; */
}

.containerTutorial {
  margin: 10px 0 10px 0;
  /* flex-shrink: 0;  */
}
.itemCardsTutorial {
  display: flex;
  flex-direction: column;
  margin: 30px;
  gap: 20px;
}
.contentCardsTutorial {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.containerResult {
  display: flex;
  flex-direction: row;
  gap: 70px;
  margin: 0px 0 20px 0;
}
.itemResult {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 0;
  gap: 15px;
}
.itemButtonPrint {  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.itemTextResult {
  display: flex;
  flex-direction: column;
}
.itemButtonResult {
  display: flex;
  justify-content: space-around;
}


.nutritionContainer {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid var(--result-card-hr);
  color: var(--text-color);
}
.nutritionHeader {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.nutritionTable {
  width: 100%;
  border-collapse: collapse;
}
.nutritionTable td {
  border-color: var(--result-card-hr);
  padding: 5px 0 0 0;
}
.nutritionDivider td {
  border-top: 4px solid var(--result-card-hr);
  padding: 0;
}
.nutritionHeaderCell {
  text-align: left;
  padding-left: 0 !important;
  width: 100%;
  color: var(--text-color) !important;
}
.nutritionValueCell {
  text-align: right;
  padding-right: 0 !important;
  color: var(--text-color)  !important;
}


.containerAuth {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
  min-width: 500px;
  min-height: max-content;
  border-radius: 3px;
  background-color: var(--accent-color);
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.titleAuth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* border: 1px solid red; */
  padding: 10px;
}
.itemFormAuth {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 1px solid blue; */
}
.headerForm {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px
}
.contentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 15px; */
}